{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": [0],
    "comma-dangle": 0,
    "no-console": 0,
    "react/prop-types": 0,
    "react/jsx-indent-props": [2, 2],
    "max-len": [2, {"code": 130}],
  }
}
